{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="navsection">
        <div class="title">
            <h1>SCHOOL</h1>
        </div>
        <div class="menu">
            <a href="{% url 'all-teachers' %}">TEACHERS</a>
            <a href="{% url 'get_student' %}">STUDENTS</a>
        </div>
        <div class="user">
            <h1>PRINCIPAL</h1>
        </div>
    </div>
</body>
</html>